/*CORPO*/
.body {
}
/*HEADER*/
.header {
  width: 100%;
  padding-top: .5rem;
  position: fixed;
  box-shadow: .5px .5px 5px gray;
}
.header-display {
	display: flex;
	flex-flow: row nowrap;
}
.calendário-fig {
	height: 3.5rem;
	width: 3.5rem;
	display: flex;
	align-items: center;
}
.calendário-img {
	width: 3rem;
}
/*MOBILE*/
@media (max-width: 0rem) {
}