/*SPACER*/
.spacer {
  padding: 0;
  height: 10vh;
}
.perfil-fig {
  width: 0%;
}
.mes-titulo {
  font-size: 1.5rem;
  margin: auto;
}
.mes-titulo {
  font-family: 'Merriweather', serif;
}
.semana, .dia {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
}
.dia {
  grid-template-rows: repeat(4, 1fr);
}
.semana {
  height: 5vh;
}
.semana-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Public Sans", sans-serif;
}
.dia {
  height: 85vh;
}
.dia-item {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}
.dia-valor {
  font-size: 1.2rem;
  margin: .5rem auto;
}
.agendamento {
  margin: .25rem auto;
  text-align: center;
  font-family: 'Public Sans', sans-serif;
}
.dia-item:hover,
.dia-item:focus  {
}
.dia-item:active,
.dia-item.is-selected {
}
/*UNDER HALF*/
@media (max-width: 0rem) {
}