/*SPACER*/
.spacer {
  padding: 4rem 1rem;
}
/*HEADER...*/
.top-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
  padding: 1rem 0;
}
.perfil-fig {
  margin-left: .5rem;
  width: 82.5%;
}
.perfil-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
}
/*TITULO*/
.title {
  font-family: "Poppins", sans-serif;
}
/*SEARCH*/
.topnav {
  overflow: hidden;
  width: 10rem;
  margin-right: .5rem;
  padding-left:.5rem;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
}
.topnav a:hover {
}
.topnav a.active {
}
.topnav input[type=text] {
  float: right;
  width: 100%;
}
/*NAVIGATOR*/
.navigator {
  padding: .25rem .5rem;
  display: flex;
  flex-flow: row nowrap;
}
.filter {
  margin-right: .5rem;
  font-family: "Arvo", serif;
}
.down-arrow {
}
/*PACIENTES*/
.paciente-box {
  width: 95.5%;
  margin: 1rem auto;
  display: flex;
  flex-flow: column: nowrap;
  box-sizing: border-box;
}
.paciente {
  height: 4rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}
.nome-paciente {
  font-family: "Arvo", serif;
}
.paciente-fig {
  margin-left: .5rem;
}
.paciente-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  border-style: solid;
  border-width: 1.5px;
}
.paciente-info {
  display: flex;
  flex-flow: column nowrap;
  margin-left: .5rem;
  width: 100%;
}
/*TAGS*/
.tag-fig {
  margin-right: .5rem;
  display: flex;
  flex-flow: row nowrap;
  height: 70%;
  align-items: flex-end;
}
.tag-leg {
  margin-right: 2px;
}
.tag-img {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}
/*PLUS*/
.plus-box {
  position: fixed;
  display: block;
  top: 91vh;
  left: 85vw;
}
.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: .25rem;
  margin-top: .25rem;
}
/*UNDER HALF*/
@media (max-width: 0rem) {
}